<div ng-controller="CandidatesController" data-ng-init="onload()">
<style type="text/css">
.rt10
{
margin-right:10px;}
</style> 
<!-- BEGIN PAGE HEADER--> 
<div class="sub-page-header">
  <div class="page-bar">
    <ul class="page-breadcrumb">
         	<li><a href="#/dashboard" ng-if="!(rsLoginUser.userRole === 'IN_DM' || rsLoginUser.userRole === 'IN_Recruiter' || rsLoginUser.userRole === 'ATS_Executive')">Home</a> 
				<a href="#/india_joborders/my_indiajobOrder" ng-if="(rsLoginUser.userRole === 'IN_DM' || rsLoginUser.userRole === 'IN_Recruiter')">Home</a>
				<a href="#/candidates/missingData" ng-if="(rsLoginUser.userRole === 'ATS_Executive')">Home</a>
				<i class="fa fa-circle"></i>
				</li>
      <li>
        <span>Candidates</span>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <span>Edit Candidate</span>
      </li>
    </ul> 
     <div class="page-toolbar">
      <div class="btn-group"> 
        <a ng-click="searchToggle()" class="btn btn-primary blue">Search Candidate <i class="fa fa-search"></i></a> 
      </div>
    </div>
  </div>
</div>
<!-- END PAGE HEADER--> 



<!-- BEGIN MAIN CONTENT -->

 <form name="AddCandidateForm" novalidate="" ng-submit="save(candidateData)" >
 
 <div ng-show="keyskillsErrorMsg">
<div style="color: red; text-align: right;"><b>KeySkills should be Minimum three.</b></div>
</div> 

<div ng-show="successMsg">
<div style="color: green; text-align: right;"><b>Candidate Updated Successfully.</b></div>
</div>

 <div class="fade-in-up" id="res">Please Fill the mandatory fields in all the tabs</div>
 <div class="row toplnks">
 <img alt="" src="resources/img/star-red.png" ng-if="addToHotListSrc" width="15" height="15"><a ng-if="addToHotListSrc" ng-click="hotReason()"> Remove From Hotlist</a>
 <img alt="" src="resources/img/star-gray.png" ng-if="!addToHotListSrc" width="15" height="15"><a ng-if="!addToHotListSrc" ng-click="hotReason()">Add To Hotlist</a>
  &nbsp;&nbsp;&nbsp;
  <img alt="" src="resources/img/star-block.png" ng-if="addToBlockListSrc" width="15" height="15"><a ng-if="addToBlockListSrc" ng-click="blockReason()">Remove from Blocklist</a>
   <img alt="" src="resources/img/star-unblock.png" ng-if="!addToBlockListSrc" width="15" height="15"><a ng-if="!addToBlockListSrc" ng-click="blockReason()">Add To Blocklist</a>
   <br><br>
 </div>

    <uib-tabset active="activeForm">

    <uib-tab index="0" heading="Personal Info" active="tabs[0].active">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="hidden" class="form-control" placeholder="First Name" ng-model="candidateData.candidateId">
                <input type="text" class="form-control" placeholder="First Name" ng-model="candidateData.firstname" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" ng-model="candidateData.lastname" required>
              </div>
            </div>
            <div class="col-md-4">	
              <div class="form-group">
                <label class="control-label">Email</label>
                <input type="email" class="form-control" placeholder="Email Address" ng-model="candidateData.email" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Status</label>
                <input type="text" class="form-control" ng-if="(candidateData.status == 'OnAssignment')" ng-model = "candidateData.status" readonly="readonly">
                <select class="form-control"  ng-model="candidateData.status" ng-change="updateStatus()" ng-if="(candidateData.status != 'OnAssignment')" required="">
                  <!-- <option value="">Select</option> -->
                  <option value="Available">Available</option>
                  <option value="LMVM">LM/VM</option>
                  <option value="NotInterested">Not Interested</option>
                  <option value="NotQualified">Not Qualified</option>
                  <option value="ResumeSent">Resume Sent</option>
                  <option value="SpokeTo">Spoke To</option>
                  <option value="SentEmail">Sent Email</option>
                  <option value="PhoneScreen">Phone Screen</option>
                  <option value="RejectedByRecruiter">Rejected By Recruiter</option>
                </select>
              </div>
              <div class="form-group">
                <label>Status Reason</label> 
                <textarea class="status-reson form-control" placeholder="Write reason.." ng-model="candidateData.reason"></textarea>
              </div> 
            </div> 
             <div class="col-md-8"> 
                <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Phone</label>
                    <!-- <input type="text" class="form-control" placeholder="Work" ng-model="candidateData.phoneWork" > -->
                    <input ui-phone class="form-control" placeholder="Work" ng-model="candidateData.phoneWork" >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Mobile</label>
                    <!-- <input type="text"  min="10" maxlength="10" class="form-control" placeholder="Cell" ng-model="candidateData.phoneCell" required> -->
                    <input ui-phone class="form-control" placeholder="Mobile" required="" ng-model="candidateData.phoneCell" >
                  </div>
                </div>
              </div> 
            </div>  
            <div class="col-md-8"> 
             <div class="row">
               <div class="col-md-6">
                  <div class="form-group">
              <label>Address</label>
              <input type="text" class="form-control" placeholder="Street 1" ng-model="candidateData.address1" >
              </div>
              </div>
              <div class="col-md-6">
              <div class="form-group"> 
              <label>Address</label>
              <input type="text" class="form-control" placeholder="Street 2" ng-model="candidateData.address2"> 
              </div>
               </div>
             </div>
            </div> 
            <div class="col-md-8">
                <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">City</label>
                <input type="text" class="form-control" placeholder="City" ng-model="candidateData.city" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">State</label>
                <select class="form-control" ng-model="candidateData.state" ng-options="name for (name, value) in usstates" required>
                <option value="">Select</option> 
                </select>
              </div>
            </div>
            
          </div>
          </div>
          </div>  

          <div class="row">
            <div class="col-md-12">
              <div class="row">
                
                
                <div class="col-md-4">
              <div class="form-group">
                <label>Zip</label>
                <input valid-number class="form-control" maxlength="5" placeholder="Zip" ng-model="candidateData.zip">
              </div>
            </div>
            
            
                <div class="col-md-4">
                  <div class="form-group">
                <label class="control-label">Visa Type</label>
                <select class="form-control" ng-model="candidateData.visaType" required>
                  <option value="">Select</option>
                  <option>Not Available</option>
                  <option>US Citizen</option>
                  <option>Green Card</option>
                  <option>EAD</option>
                  <option>TN Visa</option>
                  <option>Canadian</option>
                  <option>H1B Visa</option>
                  <option>H4 Visa</option>
                  <option>L1 Visa</option>
                  <option>L2 Visa</option>
                  <option>OPT</option>
                  <option>CPT</option>
                  <option>Corp to Corp</option>
                  <option>Citizen</option>
                </select>
              </div>
                </div>
                
                
                <div class="col-md-4" ng-if="candidateData.visaType == 'US Citizen'">
              <div class="form-group">
                <label>Security Clearance</label>
                <select class="form-control" ng-model="candidateData.securityClearance" >
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
              </div>
            </div>
            
              <div class="clearboth" ng-if="candidateData.visaType == 'US Citizen'"></div>
              
              
              
              <div class="col-md-4">
                 <div class="form-group">
                <label>Visa Expiry Date</label>
                <div class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="{{visaFormat}}" is-open="visaDatePopup.opened" datepicker-options="visaDateOptions" close-text="Close" alt-input-formats="altInputFormats" ng-model="candidateData.visaExpiryDate" ng-keyup="candidateStorage(candidate)" readonly="true" />
                  <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="visaDateopen()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
                </div>
              </div>
              </div> 
              </div>
            </div>
          </div>
          
          
        </div>
      </div> <hr>
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button type="button" class="btn light-blue" ng-click="#"><i class="fa fa-arrow-circle-left"></i> Previous</button> 
            <button type="button" class="btn blue" ng-click="editFirstTab();">Next <i class="fa fa-arrow-circle-right"></i></button>
            <input type="submit" ng-click="createCandidatevalidate()" ng-disabled="savebtn" value = "Save" class="btn blue"> 
          </div>
        </div>
      </div>
    </uib-tab>

    <uib-tab index="1" heading="Professional Info" active="tabs[1].active">
      <div class="row"> 
        <div class="col-md-12">
        <div class="row">
        <div class="col-md-4">  
        <div class="form-group">
        <label class="control-label">Title</label>
        <input type="text" class="form-control" placeholder="Title"
        ng-model="candidateData.title" required>
        </div>
        </div> 
        <div class="col-md-4">   
        <div class="form-group">
        <label class="control-label">Key Skills</label>
        <input type="text" class="form-control" placeholder="Key Skills"
        ng-model="candidateData.keySkills" required> 
        </div> 
        </div>  
        <div class="col-md-4">
          <div class="form-group">
          <label >Skills</label>
          <select class="form-control" ng-model="candidateData.skills" >
             <option value="">Select</option>
             <option>Big Data</option>
             <option>Mobile App Development</option>
             <option>SharePoint</option>
             <option>SalesForce.com</option>
             <option>Application Development</option>
             <option>ERP/CRM</option>
             <option>BI/DW</option>
             <option>QA/Testing Services</option>
             <option>Others</option>
          </select>
        </div>   
        </div>
        </div>
        
      <div class="row"> 
        <div class="col-md-4">
          <div class="form-group">
          <label >Job Preference</label>
          <select class="form-control" ng-model="candidateData.jobType" >
             <option value="">Select</option>
             <option>PERMANENT</option> 
             <option>CONTRACT</option> 
             <option>BOTH</option> 
             <option>NOTSPECIFIED</option>  
          </select>
        </div>   
        </div>
         <div class="col-md-4">
          <div class="form-group">
            <label >Qualification</label> 
            <select class="form-control" ng-model="candidateData.qualification" >
              <option value="">Select</option>
              <option>All</option>
              <option>High School</option>
              <option>Associate</option>
              <option>Pre-Bachelors</option>
              <option>Bachelors</option>
              <option>Post-Bachelors, Pre-Masters</option>
              <option>MBA</option>
              <option>Masters</option>
              <option>Post-Masters, Pre-Doctorate</option>
              <option>Doctorate</option>
              <option>Military Service</option>
              <option>Vocational School</option>
            </select>
          </div>  
        </div>
        <div class="col-md-4">
           <div class="form-group">
            <label>Total Experience</label>
            <input valid-number class="form-control" placeholder="Ex:3.5, 5.5, 6"
                ng-model="candidateData.totalExperience">
            </div> 
        </div>
      </div>  
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Last Company</label>
            <input type="text" class="form-control"
              ng-model="candidateData.lastCompany">
          </div> 
          </div> 
           <div class="col-md-4">
          <div class="form-group">
          <label>Last Position</label>
          <input type="text" class="form-control"
              ng-model="candidateData.lastPosition">
          </div>   
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Employment Status</label>
            <input type="text" class="form-control"
              ng-model="candidateData.employmentStatus" >
          </div>    
        </div>
      </div> 

      <div class="row"> 
        <div class="col-md-4">
          <div class="form-group">
          <label>Min Salary Requirement</label>
          <input data-format="currency" type="text" class="form-control" placeholder="Expected Annual Salary"
              ng-model="candidateData.minSalaryRequirement" >
          </div>  
        </div>
        <div class="col-md-4">
          <div class="form-group">
          <label>Present Rate</label>
          <input data-format="currency" type="text" class="form-control" placeholder="Number of $ per Hour"
              ng-model="candidateData.presentRate" >
          </div>  
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Expected Rate</label>
            <input data-format="currency" type="text" class="form-control" placeholder="Number of $ per Hour"
              ng-model="candidateData.expectedRate" >
          </div>   
        </div>
      </div> 

      </div>
      </div> 

      <hr>
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right"> 
            <button type="button" class="btn blue" ng-click="tabs[0].active = true"><i class="fa fa-arrow-circle-left"></i> Previous</button>
            <button type="button" class="btn blue" ng-click="tabs[2].active = true">Next <i class="fa fa-arrow-circle-right"></i></button> 
            <input type="submit" ng-click="createCandidatevalidate()" ng-disabled="savebtn" value = "Save" class="btn blue">
          </div>
        </div>
      </div>
    </uib-tab>

    <uib-tab index="2" heading="Resume" active="tabs[2].active">
     <!--  <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Add To Hotlist</label>
                        <textarea name ="" rows="3" class="form-control" placeholder="Reason"
                            ng-model="candidateData.addToHotList" ></textarea> 
                       </div> 
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Add To Blacklist</label>
                        <textarea name="" rows="3" class="form-control" placeholder="Reason"
                            ng-model="candidateData.addToBlockList"></textarea> 
                       </div> 
                    </div>
                  </div>
                </div>
              </div>
 -->

              <div class="row">
                  <div class="col-md-12"> 
                   <div class="row">
                    <div class="col-md-4">
                       <div class="form-group">
                        <label class="control-label">Resume Source</label>
                        <select class="form-control" ng-model="candidateData.uploadedBy" required>
                        <option value="">Select</option>
                         <option>Dice</option>
                          <option>Monster</option>
                            <option value="Careerbuilder">Career Builder</option>
                            <option value="Techfetch">Tech Fetch</option>
                            <option>CGI</option>
                            <option>CGI Portal</option>
                            <option>Sapeare</option>
                            <option>Sapeare Portal</option>
                            <option>RedGalaxy</option>
                            <option>RedGalaxy Portal</option>
                             <option>Other</option>
                        </select>
                      </div> 
                      </div>
                    
                         <div class="col-md-2" ng-if="candidateData.uploadedBy === 'Other'">
                         <div class="form-group">
                        <label class="control-label">Other Source</label>
                        <div class="row upload-control" data-button="file-upload">
<input type="text" class="form-control" placeholder="Other Resume Source" name="formField" ng-model="candidateData.otherResumeSource" required>
</div> 
                      </div> 
                       </div>
                    
                    
                    
                    <div ng-class="(candidateData.uploadedBy != 'Other')?'col-md-8':'col-md-6'">
                       <div class="form-group">
                        <label class="control-label">Original Resume</label>
                        <div class="row upload-control" data-button="file-upload">
<div ng-class="(candidateData.uploadedBy != 'Other')?'col-md-9':'col-md-8'"  txtboxdiv"><input type="text" readonly="true" required="" class="form-control selectedfile"  ng-model="originalResume" ></div>
<button ng-class="(indiaCandidate.uploadedBy != 'Other')?'col-md-2':'col-md-2'" ng-show="origuploadbtn" style="display:block;" type="button" title="Upload Resume" class="btn blue uploadbtn" >Upload <i class="fa fa-upload" aria-hidden="true"></i></button>
<div ng-class="(candidateData.uploadedBy != 'Other')?'col-md-1':'col-md-1 rt10'" class=" pull-right "><button type="button" title="View Resume" class="btn blue" ng-click="originalResumeView()"><i class="fa fa-file-word-o"></i></button></div>
<div  ng-class="(candidateData.uploadedBy != 'Other')?'col-md-1':'col-md-1'" ng-show="originlockbtn" style="display:block;" class=" pull-right pdrt rtbtn col-md-2 lockbtn"><button ng-click="originlck()" title="Unlock Upload" type="button" class="btn blue"><i class="fa fa-lock" aria-hidden="true"></i></button></div>
<div  ng-class="(candidateData.uploadedBy != 'Other')?'col-md-1':'col-md-1'" ng-show="origindownloadbtn" style="display:block;" class=" pull-right rtbtn downloadbtn" ng-show="ttnn"><button type="button" title="Download Resume"  ng-click = "downloadOriginalResume()" class="btn blue"><i class="fa fa-download" aria-hidden="true"></i></button></div>
<input type="file" class="mainuploadbtn" onchange="angular.element(this).scope().originalResumeFile(this)">
</div> 
                      </div> 
                      </div>
<script src="assets/global/scripts/alljquery.js"></script>





                    
                    <!-- <div class="col-md-8">
                       <div class="form-group">
                      <label>Original Resume</label> 
                      <div style="margin-bottom: 4px;height: 34px;">
                        <div class="col-md-10" style="float:left; margin-right:10px;">
                          <div class="row">
                            <input type="file" class="form-control" 
                              onchange="angular.element(this).scope().originalResumeFile(this)" >
                          </div>
                        </div>
                        <div style="float:left;">
                           <button type="button" class="btn blue" ng-click = "originalResumeView()"><i class="fa fa-file-word-o"></i></button>
                           <button type="button" class="btn blue" ng-click = "downloadOriginalResume()"><i class="fa fa-download"></i></button>
                        </div> 
                      </div>
                      
                      </div> 
                    </div> -->
                  </div> 
                   <div class="row">
                     <div class="col-md-4">
                      <div class="form-group">
                        <label>Portal Email</label>
                        <select class="form-control" ng-model="candidateData.portalEmail">
                        <option value="">Select</option>
                       <option ng-repeat="email in portalEmailIds" value="{{email}}">{{email}}</option>
                        </select>
                      </div> 
                    </div>  
                    
                    
                    
                    
                    
                    
                    <div class="col-md-8">
                       <div class="form-group">
                        <label class="">CGI Resume</label>
                        <div class="row upload-control" data-button="file-upload">
<div class="col-md-9 txtboxdiv"><input type="text" readonly="true" required="" class="form-control selectedfile"  ng-model="cgiResume" ></div>
<button ng-show="cgiuploadbtn" style="display:block;" type="button" title="Upload Resume" class="btn blue col-md-2 uploadbtn" >Upload <i class="fa fa-upload" aria-hidden="true"></i></button>
<div class=" pull-right col-md-1"><button type="button" title="View Resume" class="btn blue" ng-click="viewCgiResume()"><i class="fa fa-file-word-o"></i></button></div>
<div ng-show="cgilockbtn" style="display:block;" class=" pull-right pdrt rtbtn col-md-2 lockbtn"><button ng-click="cgilck()" type="button" title="Unlock Upload" class="btn blue"><i class="fa fa-lock" aria-hidden="true"></i></button></div>
<div ng-show="cgidownloadbtn" style="display:block;" class=" pull-right rtbtn col-md-2 downloadbtn" ng-show="ttnn"><button type="button" title="Download Resume" ng-click = "downloadCgiResume()" class="btn blue"><i class="fa fa-download" aria-hidden="true"></i></button></div>
<input type="file" class="mainuploadbtn" onchange="angular.element(this).scope().cgiResumeFile(this)">
</div> 
                      </div> 
                      </div>
                      
                      
                      
                      
                    <!-- <div class="col-md-8">
                       <div class="form-group">
                      <label>CGI Resume</label> 
                      <div style="margin-bottom: 4px;height: 34px;">
                        <div class="col-md-10" style="float:left; margin-right:10px;">
                          <div class="row">
                            <input type="file" class="form-control" 
                             onchange="angular.element(this).scope().cgiResumeFile(this)">
                          </div>
                        </div>
                        <div style="float:left;">
                          <button type="button" class="btn blue" ng-click = "viewCgiResume()"><i class="fa fa-file-word-o"></i></button>
                          <button type="button" class="btn blue" ng-click = "downloadCgiResume()"><i class="fa fa-download"></i></button>
                        </div> 
                      </div>
                       
                      </div> 
                    </div> -->
                    
                    
                  </div> 

                  <div class="row">
                     <div class="col-md-4">
                        <div class="form-group">
                        <label>Uploaded By</label>
                        <select class="form-control" ng-model="candidateData.atsUserId">
                            <option value="">Select</option>
                            <option ng-repeat="atsId in atsUserIds" value="{{atsId}}">{{atsId}}</option>
                        </select>
                      </div>   
                      </div>
                    
                    
                    
                    <div class="col-md-8">
                       <div class="form-group">
                        <label class="">RTR Resume</label>
                        <div class="row upload-control" data-button="file-upload">
<div class="col-md-9 txtboxdiv"><input type="text" readonly="true" required="" class="form-control selectedfile"  ng-model="rtrResume" ></div>
<button ng-show="rtruploadbtn" style="display:block;" type="button" title="Upload Resume" class="btn blue col-md-2 uploadbtn" >Upload <i class="fa fa-upload" aria-hidden="true"></i></button>
<div class=" pull-right col-md-1"><button type="button" class="btn blue" title="View Resume" ng-click="viewRtrDocument()"><i class="fa fa-file-word-o"></i></button></div>
<div ng-show="rtrlockbtn" style="display:block;" class=" pull-right pdrt rtbtn col-md-2 lockbtn"><button ng-click="rtrlck()" type="button" title="Unlock Upload" class="btn blue"><i class="fa fa-lock" aria-hidden="true"></i></button></div>
<div ng-show="rtrdownloadbtn" style="display:block;" class=" pull-right rtbtn col-md-2 downloadbtn" ng-show="ttnn"><button type="button" title="Download Resume" ng-click = "downloadRtrDocument()" class="btn blue"><i class="fa fa-download" aria-hidden="true"></i></button></div>
<input type="file" class="mainuploadbtn" onchange="angular.element(this).scope().rtrDocumentFile(this)">
</div> 
                      </div> 
                      </div>
                      
                   
                    
                  </div>  
                   
                  </div>
              </div>



    




<button type="button" id="statushistorybtn" ng-click="statushist()" class="btn blue" ><i class="fa fa-plus-square"></i> Status History</button>

<br><br>


<div class="row" id="statushistorytbl" style="display:none;">
    <div class="col-md-12">
    
    <table class="table bt-table" >
  <thead class="tablehead">
    <tr>
      <th>Status</th>
      <th>Created Date</th>
      <th>Created By</th>
      <th>Reason</th>
    </tr>
  </thead>
  <tbody>
  
    <tr ng-repeat="statuses in candidateStatus">
      <td width="15%">{{statuses.status}}</td>
      <td width="20%">{{statuses.createdDate}}</td>
      <td width="20%">{{statuses.createdBy}}</td>
      <td width="45%">{{statuses.reason}}</td>
    </tr>
   
  </tbody>
</table>
</div></div>

 
      <hr>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-8">
          <div class="alert alert-success" role="alert" style="text-align: center;" ng-show="newCandidateMessage">
            <strong>Candidate has been saved.</strong></div>
          </div >
          <div class="col-md-4">
              <div class="pull-right">
                <button type="button" class="btn blue" ng-click="tabs[1].active = true"><i class="fa fa-arrow-circle-left"></i> Previous</button>
                <button type="button" class="btn light-blue" ng-click="#"><i class="fa fa-arrow-circle-right"></i> Next</button> 
                  <input type="submit" ng-click="createCandidatevalidate()" ng-disabled="savebtn" value = "Save" class="btn blue">
              </div>
          </div>
        </div>
    </div> 
     
    </uib-tab>


    </uib-tabset>  

    </form>

</div>
<!-- END MAIN CONTENT -->