<md-dialog ng-cloak>
  <form>
<div>
    <md-toolbar style="background-color:#00CED1">
      <div class="md-toolbar-tools">
        <h2>Save Queries!</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="canceldailog()" md-autofocus>
          <img width="16" height="16" src="assets/global/img/portlet-remove-icon-white.png" />
        </md-button>
      </div>
    </md-toolbar></div>

    <md-dialog-content>
      <div class="md-dialog-content">
            <div>
             {{searchMessage}}
            </div><br>
            <label>Name:</label>
            <input type="text" ng-model="query" class="searchpoptextbox" placeholder="Name for saved queries"><br>
            
            <label style="color: red;">{{messg}}</label>
            
     </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button style="background-color:#3399FF; color:white" ng-click="cancel()" md-autofocus>
       Cancel
      </md-button>
      <md-button style="background-color:#3399FF; color:white" ng-click="answer(query)" style="margin-right:20px;" md-autofocus>
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>