<div ng-controller="editsubmitalscontroller"  ng-init="onload()">

<!-- BEGIN PAGE HEADER--> 
<div class="sub-page-header">
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <a href="#/dashboard">Home</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <span> Job Orders</span>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <span>Edit Submittals</span>
      </li>
    </ul>
    
     
  </div>
</div>
<!-- END PAGE HEADER--> 

<!-- BEGIN MAIN CONTENT --> 
 
    <form  name="AddCandidateForm" class="tab-form-demo" novalidate=""  ng-submit="saveOrUpdateSubmittal()" >
<div ng-show="errMsg">
<div style="color: red; text-align: right;"><b>{{errMsg}}</b></div>
</div>
<div class="fade-in-up" id="res">Please select a candidate to create the submital</div>

<div class="fade-in-up" id="res01">No Data available with this Candidate Id</div>
    <uib-tabset active="activeForm">

    <uib-tab index="0" heading="Job Order Info" active="tabs[0].active">


    <div class="row fade-in-up">
    <div class="col-md-12">
    <div class="row">
    		<div class="col-md-4">
              	<div class="form-group">
                <label class="">ID</label>
                <input type="text" class="form-control" placeholder="ID"   Readonly="readonly" ng-model="joborderdatainfo.id">
              </div>
            </div>
            <div class="col-md-4">
              	<div class="form-group">
                <label class="">Priority</label>
                <input type="text" class="form-control" placeholder="Priority"   Readonly="readonly" ng-model="joborderdatainfo.priority">
              </div>
            </div>
            <div class="col-md-4" ng-if="(customerHiddenValue==='No')">
              	<div class="form-group">
                <label class="">Client</label>
                <input type="text" class="form-control" placeholder="Client"   Readonly="readonly" ng-model="joborderdatainfo.customer">
              </div>
              </div>
    </div>
    
    <div class="row">
                <div class="col-md-8">
                
                <div class="row">
                <div class="col-md-6">
              	<div class="form-group">
                <label class="">Key Skills</label>
                <input type="text" class="form-control" placeholder="Key Skills"   Readonly="readonly" ng-model="joborderdatainfo.keySkills">
              </div>
              </div>
              <div class="col-md-6">
              	<div class="form-group">
                <label class="">Title</label>
                <input type="text" class="form-control" placeholder="Title"   Readonly="readonly" ng-model="joborderdatainfo.title">
              </div>
            </div>
    </div>
                

<div class="row">
                <div class="col-md-6">
              	<div class="form-group">
                <label class="">City</label>
                <input type="text" class="form-control" placeholder="City"   Readonly="readonly" ng-model="joborderdatainfo.city">
              </div>
              </div>
              
              <div class="col-md-6">
              	<div class="form-group">
                <label class="">State</label>
                <input type="text" class="form-control" placeholder="State"   Readonly="readonly" ng-model="joborderdatainfo.state">
              </div>
              </div>
                </div>
                
                
                
                <div class="row">
                <div class="col-md-6">
              	<div class="form-group">
                <label class=""># of Resumes Required</label>
                <input type="text" class="form-control" placeholder="No of Resumes Required"   Readonly="readonly" ng-model="joborderdatainfo.noOfResumesRequired">
              </div>
              </div>
              
              
              <div class="col-md-6">
              	<div class="form-group">
                <label class=""># of Positions</label>
                <input type="text" class="form-control" placeholder="Job Type"   Readonly="readonly" ng-model="joborderdatainfo.numOfPos">
              </div>
              </div>
                </div>
                                
           	
              </div>
              
              
              <div class="col-md-4">
              	<div class="form-group">
                <label class="">Description</label>
                <textarea id="reason"  type="text" style="height:177px;"  class="form-control" placeholder="Description.." ng-model = "joborderdatainfo.description" Readonly="readonly" ></textarea>
              </div>
            </div>
            
    </div>
    
    <div class="row">
                <div class="col-md-4">
              	<div class="form-group">
                <label class="">Job Type</label>
                <input type="text" class="form-control" placeholder="Job Type"   Readonly="readonly" ng-model="joborderdatainfo.jobType">
              </div>
              </div>
              
              
              <div class="col-md-4">
              	<div class="form-group">
                <label class="">Job Will Expire in</label>
                <input type="text" class="form-control" placeholder="Job Will Expire in"   Readonly="readonly" ng-model="joborderdatainfo.jobExpireIn">
              </div>
              </div>
              
              
              
             <div class="col-md-4">
						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									<label class="">Attachment</label> <input type="text"
										class="form-control" placeholder="Attachment"
										Readonly="readonly" ng-model="attachment" style="width: 230px">
								</div>
							</div>
							<div class="col-md-4">
								<div class="row">
									<div class="col-md-5 btnsonly">
										<button type="button" class="btn blue"
											ng-click="downloadResume()">
											<i class="fa fa-download" aria-hidden="true"></i>
										</button>
									</div>
									<div class="col-md-4 btnsonly">
										<button type="button" class="btn blue"
											ng-click="viewAttachment()">
											<i class="fa fa-file-word-o"></i>
										</button>
									</div>
									<div class="col-md-3">
									</div>
								</div>
							</div>
						</div>
					</div>

					
    </div>
    
<div class="row" ng-if="(joborderdatainfo.jobType=='PERMANENT')">
  
  <div class="col-md-4">
              	<div class="form-group">
                <label>Salary</label>
                <input type="text" class="form-control"  Readonly="readonly"  ng-model="joborderdatainfo.salary"  >
              </div>
              </div>
              
              <div class="col-md-4">
              	<div class="form-group">
                <label>Perm Fee</label>
                <input type="text" class="form-control" Readonly="readonly"   ng-model="joborderdatainfo.permFee"  >
              </div>
              </div>
              
         
                <div class="col-md-4">
              	<div class="form-group" ng-if="joborderdatainfo.startDate">
                <label >Start Date</label>
  				<input type="text" class="form-control"  Readonly="readonly"  ng-model="joborderdatainfo.startDate"  >
              </div>
              </div>
              
              
    </div>
    
    <div ng-if="(joborderdatainfo.jobType=='CONTRACT')">
    
    
    <div class="row"  ng-if="joborderdatainfo.acceptW2">
    
  <div class="col-md-4">
              	<div class="form-group">
                <input type="checkbox" class="form-checkbox" ng-model="joborderdatainfo.acceptW2" style="display:none;" >
                <label class="submital_label">W-2</label>
              </div>
              </div>
      
              <div class="col-md-4">
              	<div class="form-group">
              	<div class="row" >
                <div class="col-xs-6">
                <label class="">Min Hourly Rate:</label>
                <input type="text" readonly="true" class="form-control"   ng-model="joborderdatainfo.hourlyRateW2"  >
                </div>
                
                
                <div class="col-xs-6">
                <label class="">Max Hourly Rate:</label>
                <input type="text" readonly="true" class="form-control"   ng-model="joborderdatainfo.hourlyRateW2max"  >
                </div>
                
              </div>
              </div>
              </div>
              
              
              
              <div class="col-md-4">
              	<div class="form-group">
              	<div class="row" >
                <div class="col-xs-6">
                <label class="">Annual Rate</label>
                <input type="text" readonly="true" class="form-control"   ng-model="joborderdatainfo.annualRateW2"  >
                </div>
              </div>
              </div>
              </div>
        
    </div>
 
    
    

    <div class="row" ng-if="joborderdatainfo.acceptC2c" >
    
  <div class="col-md-4">
              	<div class="form-group">
                <input type="checkbox" class="form-checkbox" ng-model="joborderdatainfo.acceptC2c"  style="display:none;" > 
				<label class="submital_label">Corp-to-corp</label>
              </div>
              </div>
       
              <div class="col-md-4">
              	<div class="form-group">
              	<div class="row" >
                <div class="col-xs-6">
                <label class="">Min Hourly Rate:</label>
                <input type="text" class="form-control" readonly="true"   ng-model="joborderdatainfo.hourlyRateC2c"  >
                </div>
                
                
                <div class="col-xs-6">
                <label class="">Max Hourly Rate:</label>
                <input type="text" class="form-control" readonly="true"   ng-model="joborderdatainfo.hourlyRateC2cmax"  >
                </div>

              </div>
              </div>
              </div>
    
    </div>
   
     <div class="row" >
    
  <div class="col-md-4" ng-if="joborderdatainfo.startDate">
              	<div class="form-group">
                <label class="">Start Date:</label>
                <input type="text" class="form-control" ng-model="joborderdatainfo.startDate" readonly="true">
              </div>
              </div>
              
              
              <div class="col-md-4" ng-if="joborderdatainfo.endDate">
              	<div class="form-group">
                <label class="">End Date:</label>
                  <input type="text" class="form-control" ng-model="joborderdatainfo.endDate" readonly="true">
              </div>
              </div>
       
    </div>
    
    
    </div>
    
    <div class="row">
    <br>
<table class="table bt-table" >
  <thead class="tablehead">
    <tr>
      <th width="50%" style="text-align:center;">Name</th>
      <th width="50%" style="text-align:center;">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="details in joborderdetails">
      <td>{{details.fieldName}}</td>
      <td>{{details.fieldValue}}</td>
    </tr>
  </tbody>
</table>

    </div>
    
    </div>
    </div>
    
      
      <div class="row">
      </div> <hr>
      <div class="row fade-in-up">
        <div class="col-md-12">
          <div class="pull-right"> 
            <button type="button" class="btn light-blue" ng-click="#"><i class="fa fa-arrow-circle-left"></i> Previous</button>
            <button type="button" class="btn blue" ng-click="tabs[1].active = true";">Next <i class="fa fa-arrow-circle-right"></i></button>
            <button type="button" class="btn btn-primary blue" ng-click="cancelsubmittal()">Cancel <i class="fa fa-ban" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </uib-tab>
 
    <uib-tab index="1" heading="Candidate" active="tabs[1].active">
    
      <div class="row fade-in-up"> 
        <div class="col-md-12">
        
        
        <div>

        <div class="col-md-12">
    <div class="row">
    		<div class="col-md-4">
              	<div class="form-group">
                <label class="">ID</label>
                <input type="text" class="form-control" placeholder="ID"   Readonly="readonly" ng-model="candidateinfo.id" id="candidateid">
              </div>
            </div>
            <div class="col-md-4">
              	<div class="form-group">
                <label class="">Name</label>
                <input type="text" class="form-control" placeholder="Name"   Readonly="readonly" ng-model="candidateinfo.firstName">
              </div>
            </div>
            <div class="col-md-4">
              	<div class="form-group">
                <label class="">Title</label>
                <input type="text" class="form-control" placeholder="Title"   Readonly="readonly" ng-model="candidateinfo.title">
              </div>
              </div>
    </div>
    
    
    <div class="row">
                <div class="col-md-4">
              	<div class="form-group">
                <label class="">Key Skills</label>
                <input type="text" class="form-control" placeholder="Key Skills"   Readonly="readonly" ng-model="candidateinfo.keySkill">
              </div>
              </div>
              <div class="col-md-4">
              	<div class="form-group">
                <label class="">Location</label>
                <input type="text" class="form-control" placeholder="Location"   Readonly="readonly" ng-model="candidateinfo.location">
              </div>
            </div>
            <div class="col-md-4">
              	<div class="form-group">
                <a ng-click="jumpToProfile();" class="submitaljump">Jump to Profile</a>
              </div>
            </div>
    </div>
    

    </div>
        
        </div>
        
      </div>
      </div> 
      
      <hr>
      <div class="row fade-in-up">
        <div class="col-md-12">
          <div class="pull-right"> 
            <button type="button" class="btn blue" ng-click="tabs[0].active = true"><i class="fa fa-arrow-circle-left"></i> Previous</button>
            <button type="button" class="btn blue" ng-click="tabs[2].active = true">Next <i class="fa fa-arrow-circle-right"></i></button>
            <button type="button" class="btn btn-primary blue" ng-click="cancelsubmittal()">Cancel <i class="fa fa-ban" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </uib-tab>

    <uib-tab index="2" heading="Event History" active="tabs[2].active">
      <div class="row fade-in-up">
                <div class="col-md-12">
             
                <div class="row">
					<div class="col-md-6">
						<div class="form-group"
							ng-repeat="event in submittalEventHistoryDtoList">
							<div class="row">
								<div class="col-md-6" >
									<div class="row">
										<div class="col-md-4"><label>{{event.status}}</label> </div>
										
										<div class="col-md-8">
											<label ng-if="!event.jsEditMode">{{event.strCreatedOn}}</label>
											<input ng-if="event.jsEditMode" ng-model="event.strCreatedOn" readonly="readonly" datetime-picker date-format="MM-dd-yyyy HH:mm" close-on-select="false" size="30" class="form-control" style="width:160px"/>
										</div>
									</div>
								</div>
								<div class="col-md-6" ng-if="event.status == 'STARTED'">  
								<span class="fa fa-pencil-square-o" ng-if="!event.jsEditMode" title="Edit" ng-click="editHistory(event);" style="color: blue;"></span>
											<span class="fa fa-check" ng-click="updateStatusDate(event)" title="Save" ng-if="event.jsEditMode" style="color: green;"></span>
											<span class="fa fa-times" ng-click="cancelStatusDate(event)" title="Cancel" ng-if="event.jsEditMode" style="color: red;"></span>
								
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<i class="fa fa-sticky-note-o" aria-hidden="true"
										style="color: #606060; margin-left: 12px"></i> &nbsp;
									<label style="color: #8b8b8b">{{event.notes}}</label>
								</div>
							</div>
						</div>
					</div>



					<div class="col-md-6">
              
              	<div class="col-md-12">
              	<div class="form-group">
                <label class="control-label">Status</label>
               <select id="jobtyp" class="form-control" ng-model="eventHistory.status">
                  <option value="">Select</option>
                  <option value="SUBMITTED" ng-if="!(submittal.status === 'SUBMITTED' || submittal.status === 'DMREJ' || submittal.status ==='ACCEPTED' || !(submittal.status ==='BACKOUT' || submittal.status ==='OUTOFPROJ'))">Submitted</option>
                  <option value="DMREJ" ng-if="(submittal.status === 'SUBMITTED')">DM Rejected</option>
                  <option value="ACCEPTED" ng-if="submittal.status === 'SUBMITTED'">Accepted</option>
                  <option value="INTERVIEWING" ng-if="!(submittal.status === 'SUBMITTED' || submittal.status === 'DMREJ' || !(submittal.status ==='ACCEPTED'))">Interviewing</option>
                  <option value="CONFIRMED" ng-if="!(submittal.status === 'SUBMITTED' || submittal.status === 'DMREJ' || submittal.status ==='ACCEPTED' || !(submittal.status ==='INTERVIEWING'))" >Confirmed</option>
                  <option value="REJECTED" ng-if="!(submittal.status === 'SUBMITTED' || submittal.status === 'DMREJ' || !(submittal.status ==='ACCEPTED' || submittal.status ==='INTERVIEWING'))">Rejected</option>
                  <option value="STARTED" ng-if="!(submittal.status === 'SUBMITTED' || submittal.status === 'DMREJ' || submittal.status ==='ACCEPTED' || !(submittal.status ==='CONFIRMED'))">Started</option>
                  <option value="BACKOUT" ng-if="!(submittal.status === 'SUBMITTED' || submittal.status === 'DMREJ' || !(submittal.status ==='ACCEPTED' || submittal.status ==='CONFIRMED' || submittal.status ==='STARTED'))">Backout</option>
                  <option value="OUTOFPROJ" ng-if="!(submittal.status === 'SUBMITTED'  || submittal.status ==='ACCEPTED' || !(submittal.status ==='DMREJ' || submittal.status ==='REJECTED' || submittal.status ==='STARTED'))">OUT of Project</option>
                  </select>
                  
              </div>
              </div>
              
              
              <div class="col-md-12" ng-if="eventHistory.status == 'STARTED'">
              	<div class="form-group">
                <label class="">Status Date</label>
  <input ng-model="eventHistory.strCreatedOn" datetime-picker date-format="MM-dd-yyyy HH:mm" close-on-select="false" size="30" class="form-control" />
              </div>
              </div>
              
              
              
              <div class="col-md-12">
              	<div class="form-group">
                <label class="control-label">Status Notes</label>
                <textarea id="notes"  type="text" style="height:107px;"  class="form-control" placeholder="Notes.." ng-model = "eventHistory.notes" ></textarea>
              </div>
              </div>
              
              
              <div class="col-md-12">
          <div class="pull-right"> 
            <button type="button" class="btn blue" ng-click="addEvent()" ng-disabled="!isEventCompleted"> Add Event</button>
          </div>
        </div>
              
              <div class="col-md-12">
              	<div class="form-group">
                <label class="">Submittal Comments</label>
                <textarea id="notes"  type="text" style="height:67px;"  class="form-control" placeholder="Comments.." ng-model = "submittal.comments"  ></textarea>
              </div>
              </div>
              
              
              </div>
              
    </div>
    
                </div>
              </div>

      <hr>
      <div class="row fade-in-up">
        <div class="col-md-12">
          <div class="pull-right"> 
            <button type="button" class="btn blue" ng-click="tabs[1].active = true"><i class="fa fa-arrow-circle-left"></i> Previous</button>
            <button type="submit" class="btn blue" >Create <i class="fa fa-check" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-primary blue" ng-click="cancelsubmittal()">Cancel <i class="fa fa-ban" aria-hidden="true"></i></button>
            
          </div>
        </div>
      </div>
    </uib-tab>

    </uib-tabset>  

    </form>

<!-- END MAIN CONTENT -->

</div>