<div ng-controller="changepasswordcontroller"  ng-init="onload()">
    <script src="assets/global/scripts/bootstrapPasswordStrengthMeter.js"></script>
    <script src="assets/global/scripts/zxcvbn.js"></script>
<style type="text/css">
.progress-bar-success
{
background-color:#5cb85c;
}
</style>    
    

<!-- BEGIN PAGE HEADER--> 
<div class="sub-page-header">
  <div class="page-bar">
    <ul class="page-breadcrumb">
          	<li><a href="#/dashboard" ng-if="!(rsLoginUser.userRole === 'IN_DM' || rsLoginUser.userRole === 'IN_Recruiter' || rsLoginUser.userRole === 'ATS_Executive')">Home</a> 
				<a href="#/india_joborders/my_indiajobOrder" ng-if="(rsLoginUser.userRole === 'IN_DM' || rsLoginUser.userRole === 'IN_Recruiter')">Home</a>
				<a href="#/candidates/missingData" ng-if="(rsLoginUser.userRole === 'ATS_Executive')">Home</a>
				<i class="fa fa-circle"></i>
				</li>
      <li>
        <span>Change Password</span>
      </li>
    </ul> 
     
  </div>
</div>
<!-- END PAGE HEADER--> 




<!-- BEGIN MAIN CONTENT -->




<form name="changepwd" class="tab-form-demo" novalidate="" ng-submit="pwdChange();" >
<div class="row ">
    <div class="col-md-12">
    
    

<div class="row fade-in-up">
   
			<div class="changepwd_div">              
              <span>{{errorMsg}}</span>
              <div class="col-md-12">
            <div class="form-group">
                <label>Current Password</label>
                <input type="password" ng-model="currentpassword"  required=""  class="form-control">
              </div>
          </div>
          
          
          
          <div class="col-md-12">
            <div class="form-group">
                <label>New Password</label>
                <input type="password" ng-model="newpassword" maxlength="16" ng-keyup="chkeyup01()"  required=""  class="form-control" >
                <span id="wrngpatt" style="display:none;">The Password must contain min 6 characters with 1Upper Case, 1 Lower Case, 1 Number & 1 Special Character</span>
                <div class="progress">
                <div class="progress-bar">
                </div>
              </div>
              </div>
          </div>
          
          
          
          <div class="col-md-12">
            <div class="form-group">
                <label>Confirm New Password</label>
                <input type="password" ng-model="confirmpassword" maxlength="16" ng-keyup="chkeyup()"   required=""  class="form-control">
                <span class="pwdmatch">Password and Confirm Password do not match</span>
              </div>
          </div>
            
              
              <div class="clearboth"></div>
         
          <div class="">
          <div class="col-md-12">
          <div class="pull-right"> 
            <a href="#/candidates/search" class="btn btn-primary grey-cascade" ng-if="!(rsLoginUser.userRole.startsWith('IN_') || rsLoginUser.userRole === 'ATS_Executive')">Cancel <i class="fa fa-ban" aria-hidden="true"></i></a>
            <a href="#/india_joborders/my_indiajobOrder" class="btn btn-primary grey-cascade" ng-if="(rsLoginUser.userRole.startsWith('IN_'))">Cancel <i class="fa fa-ban" aria-hidden="true"></i></a>
            <a href="#/candidates/missingData" class="btn btn-primary grey-cascade" ng-if="(rsLoginUser.userRole === 'ATS_Executive')">Cancel <i class="fa fa-ban" aria-hidden="true"></i></a>
            <button type="submit" class="btn btn-primary blue">Change Password</button>
          </div>
        </div>
          </div>
          
          </div>
            
    </div>
  

    
    </div>
    </div>
  
    </form>
    
<!-- END MAIN CONTENT -->

</div>