<div ng-controller="createindiasubmitalscontroller"  ng-init="onload()">

<!-- BEGIN PAGE HEADER--> 
<div class="sub-page-header">
  <div class="page-bar">
    <ul class="page-breadcrumb">
          	<li><a href="#/dashboard" ng-if="!(rsLoginUser.userRole === 'IN_DM' || rsLoginUser.userRole === 'IN_Recruiter' || rsLoginUser.userRole === 'ATS_Executive')">Home</a> 
				<a href="#/india_joborders/my_indiajobOrder" ng-if="(rsLoginUser.userRole === 'IN_DM' || rsLoginUser.userRole === 'IN_Recruiter')">Home</a>
				<a href="#/candidates/missingData" ng-if="(rsLoginUser.userRole === 'ATS_Executive')">Home</a>
				<i class="fa fa-circle"></i>
				</li>
      <li>
        <span> India Job Orders</span>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <span>Create Submitals</span>
      </li>
    </ul>
    <div class="page-toolbar">
      <div class="btn-group">
       <a href="#" class="btn btn-primary blue" ng-click="sendResumeToClient()"> <i class="fa fa-envelope-o" aria-hidden="true"></i> Send Resume to Client</a> 
      </div>
    </div> 
     
  </div>
</div>
<!-- END PAGE HEADER--> 

<!-- BEGIN MAIN CONTENT --> 

    <form  name="AddCandidateForm" class="tab-form-demo" novalidate=""  ng-submit="createsubmital()" >
<div ng-show="errMsg">
<div style="color: red; text-align: right;"><b>{{errMsg}}</b></div>
</div>
<div ng-show="errMsg1">
<div style="color: red; text-align: right;"><b>Please Enter Email Id</b></div>
</div>
<div class="fade-in-up" id="res">Please select a candidate to create the submital</div>

<div class="fade-in-up" id="res01">No Data available with this Mobile Number</div>
    <uib-tabset active="activeForm">

    <uib-tab index="0" heading="Job Order Info" active="tabs[0].active">


    <div class="row fade-in-up">
    <div class="col-md-12">
    <div class="row">
    		<div class="col-md-4">
              	<div class="form-group">
                <label class="">ID</label>
                <input type="text" class="form-control" placeholder="ID"   Readonly="readonly" ng-model="id" style="background-color:#eef1f5!important;">
              </div>
            </div>
            <div class="col-md-4">
              	<div class="form-group">
                <label class="">Priority</label>
                <input type="text" class="form-control" placeholder="Priority"   Readonly="readonly" ng-model="priority" style="background-color:#eef1f5!important;">
              </div>
            </div>
            <div class="col-md-4" ng-if="(customerHiddenValue==='No')">
              	<div class="form-group">
                <label class="">Client</label>
                <input type="text" class="form-control" placeholder="Client"   Readonly="readonly" ng-model="client" style="background-color:#eef1f5!important;">
              </div>
              </div>
    </div>
    
    
    <div class="row">
                <div class="col-md-8">
                
                <div class="row">
                <div class="col-md-6">
              	<div class="form-group">
                <label class="">Key Skills</label>
                <input type="text" class="form-control" placeholder="Key Skills"   Readonly="readonly" ng-model="keyskills" style="background-color:#eef1f5!important;">
              </div>
              </div>
              <div class="col-md-6">
              	<div class="form-group">
                <label class="">Title</label>
                <input type="text" class="form-control" placeholder="Title"   Readonly="readonly" ng-model="title" style="background-color:#eef1f5!important;">
              </div>
            </div>
    </div>
                

<div class="row">
                <div class="col-md-6">
              	<div class="form-group">
                <label class="">City</label>
                <input type="text" class="form-control" placeholder="City"   Readonly="readonly" ng-model="city" style="background-color:#eef1f5!important;">
              </div>
              </div>
         
                <div class="col-md-6">
              	<div class="form-group">
                <label class="">Job Type</label>
                <input type="text" class="form-control" placeholder="Job Type"   Readonly="readonly" ng-model="jobtype" style="background-color:#eef1f5!important;">
              </div>
              </div>
                
                </div>    
                
                        
                           
                
                
                
              </div>
              
              
              
              <div class="col-md-4">
              	<div class="form-group">
                <label class="">Description</label>
                <textarea id="reason"  type="text" style="height:107px; background-color:#eef1f5!important;"  class="form-control" placeholder="Description.." ng-model = "description" Readonly="readonly" ></textarea>
              </div>
            </div>
              
              
              
              
              
              
              
              
              
              
              
              
              
              
<div class="col-md-12">              
              <div class="row">
                <div class="col-md-4">
              	<div class="form-group">
                <label class=""># of Resumes Required</label>
                <input type="text" class="form-control" placeholder="No of Resumes Required"   Readonly="readonly" ng-model="noOfResumesRequired">
              </div>
              </div>
              
              
              
              
              <div class="col-md-4">
              	<div class="form-group">
                <label class=""># of Positions</label>
                <input type="text" class="form-control" placeholder="Job Type"   Readonly="readonly" ng-model="noOfPositions">
              </div>
              </div>
              
              
              
              
              <div class="col-md-4">
              	<div class="row">
                <div class="col-md-8">
              	<div class="form-group">
                <label class="">Attachment</label>
                <input type="text" class="form-control" placeholder="Attachment"   Readonly="readonly" ng-model="attachment" style="background-color:#eef1f5!important;">
              </div>
              </div>
              
              <div class="col-md-2 btnsonly">
              <button type="button" class="btn blue" ng-click="downloadResume()"><i class="fa fa-download" aria-hidden="true"></i></button>
              </div>
              <div class="col-md-2 btnsonly">
              <button type="button" class="btn blue" ng-click="viewAttachment()"><i class="fa fa-file-word-o"></i></button>
              </div>
              
                </div>
            </div>
                </div> 
</div>                 
                
                
                
                
                
                
                
                
                
                
                
              
              
            
    </div>
    
<div class="row" ng-if="(jobtype=='PERMANENT')">
  
  				<div class="col-md-4">
              	<div class="form-group">
                <label>Salary Range</label>
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="MIN" ng-model="salary" Readonly="readonly" style="background-color:#eef1f5!important;">
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="MAX" ng-model="maxSal" Readonly="readonly" style="background-color:#eef1f5!important;">
                  </div>
                </div>
              </div>
              </div>
          
          <div class="col-md-4">
              	<div class="form-group">
                <label>Experience Range</label>
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="MIN" ng-model="minExp" Readonly="readonly" style="background-color:#eef1f5!important;">
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="MAX" ng-model="maxExp" Readonly="readonly" style="background-color:#eef1f5!important;">
                  </div>
                </div>
              </div>
              </div>    
  
            
                <div class="col-md-4">
              	<div class="form-group">
                <label>Start Date</label>
  				<input type="text" class="form-control"  Readonly="readonly"  ng-model="startdate"  style="background-color:#eef1f5!important;">
              </div>
              </div>
              
              
    </div>
    
    <div ng-if="(jobtype=='CONTRACT')">
    
    <div class="row" >
    	<div class="col-md-4">
              	<div class="form-group">
                <label>Salary Range</label>
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="MIN" ng-model="salary" Readonly="readonly" style="background-color:#eef1f5!important;">
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="MAX" ng-model="maxSal" Readonly="readonly" style="background-color:#eef1f5!important;">
                  </div>
                </div>
              </div>
              </div>
          
          <div class="col-md-4">
              	<div class="form-group">
                <label>Experience Range</label>
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="MIN" ng-model="minExp" Readonly="readonly" style="background-color:#eef1f5!important;">
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="MAX" ng-model="maxExp" Readonly="readonly" style="background-color:#eef1f5!important;">
                  </div>
                </div>
              </div>
              </div>  
              </div>
   
     <div class="row" >
    
        <div class="col-md-4" ng-if="startDate">
              	<div class="form-group">
                <label class="">Start Date:</label>
                <input type="text" class="form-control" ng-model="startDate" readonly="true" style="background-color:#eef1f5!important;">
              </div>
              </div>
              
              
              <div class="col-md-4" ng-if="endDate">
              	<div class="form-group">
                <label class="">End Date:</label>
                  <input type="text" class="form-control" ng-model="endDate" readonly="true" style="background-color:#eef1f5!important;">
              </div>
              </div>
       
    </div>
    
    
    </div>
    
    <br><br>
    
    </div>
    </div>
    
      
      <div class="row">
      </div> <hr>
      <div class="row fade-in-up">
        <div class="col-md-12">
          <div class="pull-right"> 
            <button type="button" class="btn light-blue" ng-click="#"><i class="fa fa-arrow-circle-left"></i> Previous</button>
            <button type="button" class="btn blue" ng-click="tabs[1].active = true";">Next <i class="fa fa-arrow-circle-right"></i></button>
            <button type="button" class="btn btn-primary blue" ng-click="cancel()">Cancel <i class="fa fa-ban" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </uib-tab>
 
    <uib-tab index="1" heading="Candidate" active="tabs[1].active">
    
      <div class="row fade-in-up"> 
        <div class="col-md-12">
        
         <div class="col-md-3">
              <!-- <div class="form-group">
                <label>Candidate ID</label>
                <input type="number" min="0" max="" class="form-control" placeholder="Candidate ID" ng-model="candidateId" id = "candid">
              </div> -->
              <div class="form-group">
                <label>Mobile Number</label>
                <input valid-number class="form-control" placeholder="Mobile Number" minlength="10" maxlength="10" ng-model="mobileNumber" id = "candidateMobileNub">
              </div>
            </div>
            <div class="col-md-3">
            <button type="button" style="margin-top: 25px;" class="btn btn-primary blue" ng-click="searchsubmitalCandidate()">Search Candidate <i class="fa fa-search"></i></button>
        </div>
       
        <div id="submitalselectedcandidate" style="display: none;">
        
        <hr>
        
        <div class="col-md-12">
    <div class="row">
    		<div class="col-md-4">
              	<div class="form-group">
                <label class="">ID</label>
                <input type="text" class="form-control" placeholder="ID"   Readonly="readonly" ng-model="candidateid" id="candidateid">
              </div>
            </div>
            <div class="col-md-4">
              	<div class="form-group" ng-if="rsLoginUser.userRole != 'HR'">
                <label class="">Name</label>
                <input type="text" class="form-control" placeholder="Name"   Readonly="readonly" ng-model="candidatename" id="candidatename">
              </div>
              	<div class="form-group" ng-if="rsLoginUser.userRole === 'HR'">
                <label style="color:red;font-size: 16px;padding-top: 30px;">Candidate information is hidden</label>
              </div>
            </div>
            <div class="col-md-4">
              	<div class="form-group" ng-if="rsLoginUser.userRole != 'HR'">
                <label class="">Title</label>
                <input type="text" class="form-control" placeholder="Title"   Readonly="readonly" ng-model="candidatetitle" id="candidatetitle">
              </div>
              </div>
    </div>
    
    
    <div class="row">
                <div class="col-md-4">
              	<div class="form-group" ng-if="rsLoginUser.userRole != 'HR'">
                <label class="">Key Skills</label>
                <input type="text" class="form-control" placeholder="Key Skills"   Readonly="readonly" ng-model="candidatekeyskills" id="candidatekeyskills">
              </div>
              </div>
              <div class="col-md-4">
              	<div class="form-group" ng-if="rsLoginUser.userRole != 'HR'">
                <label class="">Location</label>
                <input type="text" class="form-control" placeholder="Location"   Readonly="readonly" ng-model="candidatelocation" id="candidatelocation">
              </div>
            </div>
            <div class="col-md-4">
              	<div class="form-group" ng-if="rsLoginUser.userRole != 'HR'">
                <a ng-click="jumpToProfile();" class="submitaljump">Jump to Profile</a>
              </div>
            </div>
    </div>
    

    </div>
        
       
        </div>
       
      </div>
      </div> 
      
      <hr>
      <div class="row fade-in-up">
        <div class="col-md-12">
          <div class="pull-right"> 
            <button type="button" class="btn blue" ng-click="tabs[0].active = true"><i class="fa fa-arrow-circle-left"></i> Previous</button>
            <button type="button" class="btn blue" ng-click="tabs[2].active = true">Next <i class="fa fa-arrow-circle-right"></i></button>
            <button type="button" class="btn btn-primary blue" ng-click="cancel()">Cancel <i class="fa fa-ban" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </uib-tab>

    <uib-tab index="2" heading="Event History" active="tabs[2].active">
      <div class="row fade-in-up">
                <div class="col-md-12">
            
                <div class="row">
                
                
                <div class="col-md-6">
              	<div class="form-group" ng-repeat="event in submittalEventHistoryDtoList">
                <b>{{event.strCreatedOn}}</b> - {{event.status}}
                <br>
                <i class="fa fa-sticky-note-o" aria-hidden="true" style="color:#cc0066;"></i> &nbsp; {{event.notes}}               
              </div>
              </div>
            
              <div class="col-md-6">
              
              	<div class="col-md-12">
              	<div class="form-group">
                <label class="control-label">Status</label>
                <select id="jobtyp" class="form-control" ng-model="eventHistory.status">
                  <option value="">Select</option>
                  <option value="SUBMITTED" ng-if="!(submittal.status === 'SUBMITTED' || submittal.status === 'DMREJ' || submittal.status ==='ACCEPTED' || !(submittal.status ==='BACKOUT' || submittal.status ==='OUTOFPROJ'))">Submitted</option>
                  <option value="DMREJ" ng-if="(submittal.status === 'SUBMITTED')">DM Rejected</option>
                  <option value="ACCEPTED" ng-if="submittal.status === 'SUBMITTED'">Accepted</option>
                  <option value="INTERVIEWING" ng-if="!(submittal.status === 'SUBMITTED' || submittal.status === 'DMREJ' || !(submittal.status ==='ACCEPTED'))">Interviewing</option>
                  <option value="CONFIRMED" ng-if="!(submittal.status === 'SUBMITTED' || submittal.status === 'DMREJ' || submittal.status ==='ACCEPTED' || !(submittal.status ==='INTERVIEWING'))" >Confirmed</option>
                  <option value="REJECTED" ng-if="!(submittal.status === 'SUBMITTED' || submittal.status === 'DMREJ' || !(submittal.status ==='ACCEPTED' || submittal.status ==='INTERVIEWING'))">Rejected</option>
                  <option value="STARTED" ng-if="!(submittal.status === 'SUBMITTED' || submittal.status === 'DMREJ' || submittal.status ==='ACCEPTED' || !(submittal.status ==='CONFIRMED'))">Started</option>
                  <option value="BACKOUT" ng-if="!(submittal.status === 'SUBMITTED' || submittal.status === 'DMREJ' || !(submittal.status ==='ACCEPTED' || submittal.status ==='CONFIRMED' || submittal.status ==='STARTED'))">Backout</option>
                  <option value="OUTOFPROJ" ng-if="!(submittal.status === 'SUBMITTED'  || submittal.status ==='ACCEPTED' || !(submittal.status ==='DMREJ' || submittal.status ==='REJECTED' || submittal.status ==='STARTED'))">OUT of Project</option>
                  </select>
              </div>
              </div>
              
              <!-- <div class="col-md-12">
              	<div class="form-group">
                <label class="control-label">Status</label>
                <select id="jobtyp" class="form-control" ng-model="eventHistory.status">
                  <option value="">Select</option>
                  <option value="SUBMITTED" ng-if="(submittal.status ==='DMREJ' || submittal.status === 'TECH_REJECTED' || submittal.status === 'HR_REJECTED' || submittal.status === 'BACKOUT' || submittal.status === 'STARTED')">Submitted</option>
                  <option value="DMREJ" ng-if="(submittal.status === 'SUBMITTED')">DM Rejected</option>
                  <option value="ACCEPTED" ng-if="(submittal.status === 'SUBMITTED')">Accepted</option>
                  <option value="INTERVIEWING" ng-if="(submittal.status === 'ACCEPTED')">Interviewing</option>
                  <option value="TECH_SELECTED" ng-if="(submittal.status ==='INTERVIEWING')">Tech Selected</option>
                  <option value="TECH_REJECTED" ng-if="(submittal.status ==='INTERVIEWING')">Tech Rejected</option>
                  <option value="HR_SELECTED" ng-if="(submittal.status ==='TECH_SELECTED')">HR Selected</option>
                  <option value="HR_REJECTED" ng-if="(submittal.status ==='TECH_SELECTED')">HR Rejected</option>
                  <option value="OFFER_ACCEPTED" ng-if="(submittal.status ==='HR_SELECTED')">Offer Accepted</option>
                  <option value="OFFER_REJECTED" ng-if="(submittal.status ==='HR_SELECTED')">Offer Rejected</option>
                   <option value="BACKOUT" ng-if="(submittal.status ==='OFFER_REJECTED' || submittal.status==='OFFER_ACCEPTED')">Backout</option>
                  <option value="STARTED" ng-if="(submittal.status ==='OFFER_ACCEPTED')">Started</option>
                  </select>
              </div>
              </div> -->
              
              
       <!--        <div class="col-md-12">
              	<div class="form-group">
                <label class="">Status Date</label>
                <br>
  <input ng-model="eventHistory.strCreatedOn" class="form-control" datetime-picker date-format="dd-MM-yyyy HH:mm:ss" close-on-select="false" size="30" /> <br/> <br/>

              </div>
              </div> -->
              
              
              
              <div class="col-md-12">
              	<div class="form-group">
                <label class="control-label">Status Notes</label>
                <textarea id="notes"  type="text" style="height:107px;"  class="form-control" placeholder="Notes.." ng-model = "eventHistory.notes"  ></textarea>
              </div>
              </div>
              
              
              <div class="col-md-12">
          <div class="pull-right"> 
            <button type="button" class="btn blue" ng-click="addEvent()"> Add Event</button>
          </div>
        </div>
              
              
              </div>
              
    </div>
         
                </div>
              </div>

      <hr>
      <div class="row fade-in-up">
        <div class="col-md-12">
          <div class="pull-right"> 
            <button type="button" class="btn blue" ng-click="tabs[1].active = true"><i class="fa fa-arrow-circle-left"></i> Previous</button>
            <button type="submit" class="btn blue" >Create <i class="fa fa-check" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-primary blue" ng-click="cancel()">Cancel <i class="fa fa-ban" aria-hidden="true"></i></button>
            
          </div>
        </div>
      </div>
    </uib-tab>

    </uib-tabset>  

    </form>

<!-- END MAIN CONTENT -->


</div>