<head>
<style type="text/css">
			.angular-highlight {
				background-color:	rgba(255,255,0,0.8);
				font-weight:		bold;
			}
		</style>

</head>
<md-dialog ng-cloak class="md-trans-in">
<form>
<div>
    <md-toolbar style="background-color:#00CED1">
      <div class="md-toolbar-tools">
        <h2>Job Order Attachment</h2>
         <span flex></span> 
        <md-button class="md-icon-button" ng-click="cancel()">
          <img width="16" height="16" src="assets/global/img/portlet-remove-icon-white.png" />
        </md-button>
      </div>
    </md-toolbar></div>
    
     <md-dialog-content>
      <div class="md-dialog-content">
      <pre style="height: 300px;">
      <div highlight="CandidateText" keywords="CandidateKeywords"></div>
      </pre>
      
      </div>
     
    </md-dialog-content>

</form>
</md-dialog>