<md-dialog>
<md-toolbar style="background-color:#00CED1">
<div class="md-toolbar-tools">
<h2>Send SMS</h2>
 <span flex></span>
 <md-button class="md-icon-button" ng-click="cancel()">
 <img width="16" height="16" src="assets/global/img/portlet-remove-icon-white.png" />
 </md-button>
 </div>
 </md-toolbar>
 <md-dialog-content>
 <div class="md-dialog-content">
  Phone Numbers:<input class="searchpoptextbox" type="text" readonly="readonly" ng-model="phoneNumbers" width = "100%"> 
 <br>
 <br>
 <br>
 <textarea class="searchpoptextarea" placeholder="Enter your Text" ng-model="use" ng-trim="false" required rows="8" cols="60" maxlength="160" ></textarea>
 <span>{{160 - use.length}} Characters left</span>
 </div>
 <label style="color: red;">{{msg}}</label>
 </md-dialog-content>
 
 <md-dialog-actions layout="row">
 <md-button style="background-color:#3399FF; color:white" ng-click="cancel()" md-autofocus>
 Cancel</md-button>
 <md-button style="background-color:#3399FF; color:white" ng-click="answer(use)" style="margin-right:20px;" md-autofocus>
 Ok</md-button>
 </md-dialog-actions>
 </md-dialog>
 